body {
    margin: 0;
  &::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #909090; /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2952A0; /* color of the scroll thumb */
  }
}


/* Header */
  .header {
    align-items: center;
    display: flex;
    background-color: #2952A0;
    justify-content: space-between;
    width: 100%;
    font-family: "Work Sans";
    font-size: 18px;
    img {
    width: 200px;
    padding-left: 25px;
    }
    nav{
      padding-right: 25px;
    }
    nav a {
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
    color: #909090;
    text-decoration: none;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 1px;
        background-color: lightgray;
        transition: transform 250ms;
        }
        &:hover {
            color: lightgray;
            font-weight: bold;
        }
        &:hover::after {
            transform: translateX(-50%) scaleX(1);
        }
}
}