#container-contact{
  width: 100%;
  height: 670px;
  background-color: #2952A0;
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
    font-family: "Work Sans";
    color: white;
    font-size: 20px;
  }
  p{
    margin: 0;
    font-family: "Work Sans";
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 30%;
  }
  .contact{
    padding: 25px;
    width: 600px;
    height: 550px;
    background-color: #2952A0;
    color: white;
    &:nth-child(1){
      border-right: solid 2px #909090;
    }
  }
}


form {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  margin-bottom: 30px;
  #partpro{
    background-color: #2952A0;
    color: white;
    border: none;
    border-bottom: solid 2px #909090;
    font-size: 17px;
    padding: 15px;
  }
  #demande{
    background-color: #2952A0;
    color: white;
    border: none;
    border-bottom: solid 2px #909090;
    font-size: 17px;
    padding: 15px;
  }
  
  .form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
    input,
  textarea {
    padding: 15px;
    height: 20px;
    border-radius: 3px;
    border: none;
    background-color: #2952A0;
    color: white;
    border-bottom: solid 2px #909090;
    font-size: 17px;
    font-family: 'Work sans';
    &::placeholder{
      color: white;
    }
  }

  label {
    margin-bottom: 10px;
  }

  input[type='submit'] {
    width: 200px;
    margin: auto;
    height: 70px; 
    border-bottom: solid 2px #909090;
    transition: all .5s;
    &:hover{
      background-color: #909090;
      border: solid 2px #909090;
    }
  }

}


button {
  font-family: inherit;
  font-size: 20px;
  background: #909090;
  width: 145px;
  margin: auto;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  &:active {
    transform: scale(0.95);
  }
  &:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
}


button:hover svg {
  transform: translateX(1.7em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(8em);
}


@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

// Footer
.footer {
  background-color: #D3D3D3;
  height: 60px;
  padding-top: 10px;
  font-family: "Work Sans";
  font-size: 18px;
  img {
  width: 50px;
  }
  p {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 10px;
  }
  nav {
  list-style: none;
  text-align: center;
  }
  nav a {
      position: relative;
      font-size: 16px;
      padding: 1rem 0 0.5rem;
      margin: 0 1.5rem;
      color: #D3D3D3;
      text-decoration: none;
      &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%) scaleX(0);
          transform-origin: 50% 50%;
          width: 100%;
          height: 1px;
          background-color: white;
          transition: transform 250ms;
          }
          &:hover {
              color: white;
              font-weight: bold;
          }
          &:hover::after {
              transform: translateX(-50%) scaleX(1);
          }
  }
}

// Format tablette
@media screen and (min-width: 768px) and (max-width: 1023px) { 
  
  #container-contact{
    height: auto;
    display: block;
    p{
      margin: 0;
    }
    .contact{
      width: auto;     
      &:nth-child(1){ 
        height: 150px;  
        border-right: none;
      }
    }
  }

}

@media screen and (max-width: 767px) { 
  
  #container-projet{
    display: none;
  }

  .form-column {
    flex: 1;
    &:first-child{
      width: 45%;
    }
    &:nth-child(1){
      width: 45%;
    }
  }  

  #container-contact{
    height: auto;
    display: block;
    p{
      margin: 0;
    }
    .contact{
      width: auto;     
      &:nth-child(1){ 
        height: 150px;  
        border-right: none;
      }
    }
  }

}
  /*# sourceMappingURL=loader.css.map */