.footer {
    background-color: #2952A0;
    height: 125px;
    padding-top: 20px;
    font-family: "Work Sans";
    font-size: 18px;
    img {
    width: 80px;
    }
    p {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 10px;
    }
    nav {
    list-style: none;
    text-align: center;
    }
    nav a {
        position: relative;
        font-size: 16px;
        padding: 1rem 0 0.5rem;
        margin: 0 1.5rem;
        color: #D3D3D3;
        text-decoration: none;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) scaleX(0);
            transform-origin: 50% 50%;
            width: 100%;
            height: 1px;
            background-color: white;
            transition: transform 250ms;
            }
            &:hover {
                color: white;
                font-weight: bold;
            }
            &:hover::after {
                transform: translateX(-50%) scaleX(1);
            }
    }
}