@mixin projetp {
    text-align: center;
    font-family: 'Work sans';
    font-size: 17px;
    margin: 0;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    transition: all 1s;
    //transform: translate(-160px);
}

#comp{
  width: 100%;
  height: 760px;
  background-image: url(../images/fond-comp.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .skills{
    height: 550px;
    width: 780px;
    background-color: #2952A0;
    border-radius: 25px;
    h2{
      text-align: center;
      font-family: 'Work sans';
      font-size: 26px;
      color: white;
      padding-top: 15px;
    }
    .log{
      width: 65%;
      height: 35px;
      background-color: #909090;
      border-radius: 15px;
      margin: auto;
      margin-top: 20px;
      line-height: 35px;
      //padding-left: 16px;
      font-size: 20px;
      color: white;
      .loghov{
        width: 35%;
        height: 35px;
        border-radius: 15px;
        background-color: white;
      }
      &:nth-child(2){
        background-color: #E41936;
        &::after{width: 56%;}
      }
    }
  }
}


//Services
#container-services{
  width: 100%;
  height: 770px;
  background-color: lightgray;//#2952A0;
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  h3{
    font-family: 'Merriweather';
    //color: white;
    font-size: 35px;
    margin: 0;
    text-align: center;
  }
  p{
    margin: 0;
    align-items: baseline;
    text-align: center;
  }
  .services{
    padding: 20px;
    height: 355px;
    width: 20%;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    img{
      width: 120px;
      height: 120px;
      margin-left: 30%;
      margin-bottom: 20px;
    }
    li{
      list-style: none;
    }
    
  }
}



//Projets
#container-projet{
  width: 100%;
  height: 1400px;
  background-color: #909090;
  padding-top: 30px;
  /*background-image: url(../images/fond-real.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  h1{
    position: relative;
    font-family: 'Merriweather';
    color: #317Ac1;
    font-size: 50px;
  }
  h2{
    position: absolute;
    top: 790px;
    font-size: 65px;
    margin: 0;
    padding: 25px 0 25px 95px;
    color: lightgrey;
    z-index: 1;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: grey;
  }
  .titre2{
    position: absolute;
    left: 43%;
    top: 1305px;
    font-size: 25px;
  }
}


.projet{
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: all 1s;
  filter: grayscale(50%);
  &:hover{
    filter: grayscale(0%);

  }
  &:nth-child(1){
    background-image: url(../images/projet/EQUIP_TP/1_Logo_EQUIP_TP.png);
    background-position: center;
    background-size: cover;
  }
  &:nth-child(2){
    background-image: url(../images/projet/EQUIP_TP/2_Cdv_EQUIP_TP.png);
    background-position: center;
    background-size: cover;
  }
  &:nth-child(3){
    background-image: url(../images/projet/MariageMetC/livret_messe.png);
    background-position: center;
    background-size: cover;
  }
  &:nth-child(4){
    background-image: url(../images/projet/Coutellerie/flyer_coutellerie.png);
    background-position: center;
    background-size: cover;
  }
  &:nth-child(5){
    background-image: url(../images/projet/Coutellerie/flyer_coutellerie.png);
    background-position: center;
    background-size: cover;
  }


.hov {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2952A0;
  color: white;
  font-size: 20px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  h4{

    margin: 10px;
    text-align: center;  
  }
  p{

    margin: 0;
    text-align: center;  
  }
  }
  &:hover .hov {
    height: 40%;
  }
}

.flex{
display: flex;
gap: 30px;
justify-content: center;
flex-wrap: wrap;
}




  /*# sourceMappingURL=styles.css.map */