@charset "UTF-8";
.fond-p {
  width: 100%;
  height: 140px;
  background-image: url(/images/fond-vague.png);
  background-size: cover;
  position: absolute;
  top: 624px;
  z-index: 1;
}

#titre {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 25px;
}
#titre h1 {
  margin: 0;
  font-family: "Abril Fatface";
  font-weight: 400;
  font-size: 45px;
}

#container-services {
  width: 100%;
  height: 1420px;
  background-color: #f2f2f2;
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 20px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
#container-services h3 {
  font-family: "Merriweather";
  color: #2952a0;
  font-size: 40px;
  margin: 0;
  text-align: center;
}
#container-services p {
  text-align: center;
  font-size: 18px;
}
#container-services .left {
  text-align: left;
  line-height: 30px;
  margin-left: 35px;
}
#container-services .services {
  padding: 20px;
  height: 590px;
  width: 35%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  transition: all 0.4s ease-in;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2509803922);
}
#container-services .services:nth-child(2) {
  height: 590px;
}
#container-services .services:nth-child(3) {
  height: 500px;
}
#container-services .services:nth-child(4) {
  height: 490px;
}
#container-services .services:hover {
  border-radius: 40px 0 40px 0;
}
#container-services .services .devis {
  width: 230px;
  height: 55px;
  background-color: #2952a0;
  margin: auto;
  margin-top: 10px;
  line-height: 55px;
  color: white;
  border-radius: 10px;
  transition: all 1s;
}
#container-services .services .devis:hover {
  text-decoration: underline;
}
#container-services .services .devis a {
  text-align: center;
  text-decoration: none;
  color: white;
}
#container-services .cont-img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#container-services .cont-img img {
  width: 60px;
  height: 60px;
  margin: 10px;
}
#container-services li {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

#container-projet {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  transform: translateZ(0);
}
#container-projet figure {
  width: 475px;
  height: 300px;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(50%);
  transition: all 1s;
}
#container-projet figure:hover {
  filter: grayscale(0%);
}

figure {
  width: 476px;
  height: 300px;
  margin: 0;
  overflow: hidden;
  margin: auto;
}
figure img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}
figure figcaption {
  position: absolute;
}

.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(15px);
  background-color: rgba(182, 182, 182, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.2s;
}
.popup.pop {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0s;
}
.popup.pop figure {
  margin-top: 0;
  opacity: 1;
  position: absolute;
  left: 24%;
  top: 18%;
  height: 500px;
  width: 700px;
}
.popup.pop figcaption {
  position: absolute;
  left: 3%;
  bottom: 10%;
}
.popup .shadow {
  display: none;
}

.close {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(#close);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.close svg {
  width: 100%;
  height: 100%;
}

small {
  font-size: 21px;
  display: block;
  margin-top: 12px;
  text-indent: 3px;
  opacity: 0.7;
  letter-spacing: 1px;
}

@keyframes poppy {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25% {
    transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1);
  }
  52% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1);
  }
  75% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1);
  }
}
.custom-slider {
  display: none;
}

.slide-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.6s ease;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}

.slide-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide-dot {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #111111;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  background: #2952a0;
  border-radius: 10px;
  margin: 20px auto;
  width: 240px;
  height: 53px;
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.btnTwo {
  position: relative;
  width: 200px;
  height: 100px;
  margin-top: -100px;
  padding-top: 1px;
  background: gray;
  left: -250px;
  transition: 0.3s;
}

.btnText {
  color: white;
  transition: 0.3s;
}

.btnText2 {
  margin-top: 60px;
  margin-right: -150px;
  color: #fff;
}

.button:hover .btnTwo {
  /*When hovering over .button change .btnTwo*/
  left: -150px;
}

.button:hover .btnText {
  /*When hovering over .button change .btnText*/
  margin-left: 45px;
}

.button:active {
  /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

/* A propos */
#container-present {
  width: 100%;
  height: 1420px;
  background-color: #f2f2f2;
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 20px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}/*# sourceMappingURL=styles.css.map */