@charset "UTF-8";
body {
  margin: 0;
}

.header {
  height: 80px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 45px;
  text-align: center;
  margin: 15px;
}

h2 {
  margin: 0;
  font-size: 35px;
}

h3 {
  font-size: 33px;
  font-family: "Roboto";
  padding-left: 40px;
}

h4 {
  font-size: 28px;
  font-family: "Roboto";
  font-weight: 100;
  border-bottom: solid 4px #B0E1D0;
  margin-right: 90%;
  margin-left: 25px;
}

/* Création du Chargement */
.chargement {
  width: 100%;
  height: 100%;
  background-color: #9356DC;
  position: fixed;
  opacity: 0.7;
  inset: 0;
  z-index: 2;
  -webkit-animation: delay 2s forwards;
          animation: delay 2s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  transform-origin: middle;
}

.loader {
  border-top: 20px solid #FF79DA;
  border-left: 20px solid #593288;
  border-right: 20px solid #592388;
  border-bottom: 20px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: rotate 2s ease-in-out infinite forwards;
          animation: rotate 2s ease-in-out infinite forwards;
  margin: auto;
  position: absolute;
  inset: 0;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes delay {
  0% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0);
  }
}
@keyframes delay {
  0% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0);
  }
}
.loc {
  font-family: "Roboto";
  font-size: 22px;
  text-align: center;
  background-color: #E9E9E9;
  height: 50px;
  padding-top: 25px;
}
.loc p {
  margin: 0;
}

.fondintro {
  background-color: #f7f6f6;
}

.intro {
  font-family: "Roboto";
  font-size: 22px;
  text-align: center;
  font-weight: 100;
  padding: 50px 0px 50px 0px;
  margin: auto;
}

.btn {
  padding: 20px;
  width: 260px;
  margin: auto;
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  box-shadow: 0px 5px 20px #999;
}
.btn:hover {
  background: linear-gradient(#ffa5e5, #a171dc);
  box-shadow: 10px 15px 25px #999;
}

.btn2 {
  padding: 20px;
  width: 260px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  box-shadow: 0px 5px 20px #999;
}
.btn2:hover {
  background: linear-gradient(#ffa5e5, #a171dc);
  box-shadow: 10px 15px 25px #999;
}

.fonctionnement {
  padding: 40px;
}

.etapes {
  margin: auto;
  margin-bottom: 30px;
  width: 415px;
  height: 80px;
  border-radius: 30px;
  background-color: #f7f6f6;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 80px;
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.etapes .num {
  height: 35px;
  width: 35px;
  position: absolute;
  margin: 20px 20px 0 -15px;
  border-radius: 20px;
  background: #9356DC;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}
.etapes i {
  padding-left: 60px;
  padding-right: 30px;
}
.etapes:hover {
  background-color: #F4ECFF;
}
.etapes:hover > .logo {
  color: #9356DC;
}

.Restos {
  padding: 0 40px 0 40px;
}
.Restos h3 {
  margin: 0;
  padding: 0;
}

.nouveau {
  z-index: 1;
  position: relative;
  left: 82%;
  top: 5%;
  height: 35px;
  width: 100px;
  margin-top: 15px;
  background: #B0E1D0;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  line-height: 35px;
}

.coeur {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(../images/coeur-vide.svg);
  transition: all 0.5s;
  left: 90%;
  bottom: 70px;
}
.coeur:hover {
  background-image: url("../images/coeur-plein.svg");
}

a {
  text-decoration: none;
  color: #000;
}

.restos-case1 {
  background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  margin: auto;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 20px #999;
  margin-bottom: 150px;
  text-decoration: none;
}
.restos-case1:hover {
  box-shadow: 20px 25px 40px #999;
}
.restos-case1 .restos-texte {
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 20px #999;
  padding: 20px;
  margin-bottom: 40px;
  height: 80px;
  position: relative;
  top: 88%;
}
.restos-case1 .restos-texte p {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}

.restos-case2 {
  background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
  margin: auto;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 20px #999;
  margin-bottom: 150px;
  text-decoration: none;
}
.restos-case2:hover {
  box-shadow: 20px 25px 40px #999;
}
.restos-case2 .restos-texte {
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 20px #999;
  padding: 20px;
  margin-bottom: 40px;
  height: 80px;
  position: relative;
  top: 88%;
}
.restos-case2 .restos-texte p {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}

.restos-case3 {
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  margin: auto;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 20px #999;
  margin-bottom: 150px;
  text-decoration: none;
}
.restos-case3:hover {
  box-shadow: 20px 25px 40px #999;
}
.restos-case3 .restos-texte {
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 20px #999;
  padding: 20px;
  margin-bottom: 40px;
  height: 80px;
  position: relative;
  top: 88%;
}
.restos-case3 .restos-texte p {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}

.restos-case4 {
  background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  margin: auto;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 20px #999;
  margin-bottom: 150px;
  text-decoration: none;
}
.restos-case4:hover {
  box-shadow: 20px 25px 40px #999;
}
.restos-case4 .restos-texte {
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 20px #999;
  padding: 20px;
  margin-bottom: 40px;
  height: 80px;
  position: relative;
  top: 88%;
}
.restos-case4 .restos-texte p {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}

.coeur2 {
  z-index: 1;
  position: absolute;
  right: 80px;
  width: 50px;
  height: 50px;
  background-image: url("../images/coeur-vide.svg");
  margin-top: 5px;
  transition: all 0.5s;
}
.coeur2:hover {
  background-image: url("../images/coeur-plein.svg");
}

/* autres page */
.fleche-retour {
  font-size: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
}

.photo-head img {
  width: 100%;
  height: 490px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nom-resto {
  font-family: "Shrikhand", cursive;
  font-size: 34px;
  position: relative;
  width: 100%;
  height: 32px;
  bottom: 55px;
  padding: 25px 0 0;
  background-color: white;
  display: flex;
  align-items: baseline;
  border-radius: 60px 60px 0 0;
}

.menu {
  /*margin: 0 30px 30px 30px;*/
  font-family: "Roboto";
}
.menu h4 {
  font-weight: 200;
  font-size: 25px;
  border-bottom: solid 4px #99E2D0;
  width: 60px;
  margin-left: 25px;
}
.menu .titre {
  font-weight: 500;
  font-size: 28px;
}
.menu p {
  font-weight: 100;
  font-size: 25px;
  margin: 0;
}

/* Animation du plat */
@-webkit-keyframes menu-animation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
@keyframes menu-animation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
/* Animation check */
@-webkit-keyframes animation-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes animation-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* Apparition plats */
@-webkit-keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
.plats {
  margin: 20px 0 0 20px;
  width: 94%;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 5px 20px #999;
  -webkit-animation: fadeInUp 1s ease backwards;
          animation: fadeInUp 1s ease backwards;
}

.case-plat {
  background-color: white;
  display: flex;
  overflow: hidden;
}
.case-plat:hover .coche {
  margin-right: 0px;
}
.case-plat:hover i {
  -webkit-animation: animation-check 500ms ease-in-out;
          animation: animation-check 500ms ease-in-out;
}

.case-plat-g {
  padding: 1rem;
  overflow: hidden;
}
.case-plat-g h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  font-size: 28px;
}
.case-plat-g p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 26px;
}

.case-plat-d {
  display: flex;
  margin-left: auto;
}

.prix {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  font-size: 26px;
  margin: 0;
  padding: 1rem;
}

.coche {
  background-color: #99E2D0;
  margin-right: -80px;
  width: 80px;
  transition: margin-right 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coche i {
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.footer {
  height: 250px;
  background-color: #393838;
  color: white;
  padding: 30px 0px 0px 30px;
  font-size: 23px;
}
.footer h4 {
  font-family: "Shrikhand", cursive;
  margin: 0;
  border-bottom: none;
}
.footer p {
  font-family: "Roboto";
}
.footer i {
  font-size: 20px;
  margin-right: 15px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #99E2D0;
}/*# sourceMappingURL=styles.css.map */