.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 40px 100px;
    font-family: 'Rufina';
    font-size: 24px;
    img{
        width: 400px;
    }
}
.menu nav{
    ul{
        display: flex;
        gap: 70px;
        list-style: none;
    }
    li a{
        color: #2952A0;
        text-decoration: none;
        &:hover{
            color: #BDBCBC;
            text-decoration: underline;
    }
    }
}


/* format mobile min 500px */
@media screen and (max-width: 600px) {
    .header{
        margin: 20px;
        align-items: flex-start;
        font-size: 19px;
        text-transform: uppercase;
        img{
            width: 145px;
        }
    }
    nav ul{
        gap: 21px;
    }
}
